doctype html
html
  head
    link(rel='icon' href='/images/peony.ico' type='image/x-icon')
    link(rel='shortcut icon' href='/images/peony.ico' type='image/x-icon')
    title PLA | #{name}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="/stylesheets/layout.css")
    link(rel="stylesheet" href="/stylesheets/authors.css")
    meta(charset='UTF-8')
    meta(name='description' content='Asian based literary agency selling authors in translation and in english 帮作家卖翻译以及英文版权的亚洲文学代理公司')
    meta(name='keywords' content='Peony Literary Agency, Peony, Literary, Agency, Chinese authors literature translation, Chinese, authors, literature, translation, Su Tong, Mo Yan, Chan Koonchung, Yan Geling, Wang Ruoxing, Shao Wei, Annie Baobei, Han Han, Jade Chen, Julie O\'Yang, 牡丹花版权代理公司, 牡丹花, 版权, 代理, 中国作家文学翻译, 中国, 作家, 文学, 翻译, 苏童, 莫言, 陈冠中, 严歌苓, 王若星, 邵薇, 安妮宝贝, 韩寒, 陈玉慧, 无根')
    meta(name='author' content='PoisenMJ')
  body
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    nav.navbar.navbar-expand-sm(style='position:relative;')
      .container
        ul.nav.navbar-nav#navbar
          li.nav-item
            a.nav-link(onclick='' href='') Social
          li.nav-item
            a.nav-link(onclick='' href='/Authors') Authors
          li.nav-item
            a.nav-link(onclick='' href='/About') About
        ul.nav.navbar-nav
          li.nav-item
            a.nav-link(onclick='' href='/Work') Work
          li.nav-item
            a.nav-link(href='http://www.peonyrights.com/') Chinese/Taiwanese Rights 
          li.nav-item
            a.nav-link(onclick='' href='/Contact') Contact
    .main-container
        #author-image-div
            if imageUrl1
                a(href='#{imageUrl1}')
                    img.details(src=imagePath1)
            else
                img.details(src=imagePath1)
            if authorUrl
                .social.text-center
                    a#authorA(href=authorUrl)
                        p.display-3.details #{name}
                        p.lead#click Click
            else
                p.display-3.details #{name}
            if imagePath2 && imageUrl2
                a(href='#{imageUrl2}')
                    img.details(src=imagePath2)
            else if imagePath2
                img.details(src=imagePath2)
        #description-div
            p.lead !{description}
        .scrollup-div
          .scrollup
            a.scrollup-btn(onclick='goback()')
              span
      script.
        function goback(){
          history.back();
        }
