extends layout.jade

block head
  link(rel="stylesheet" href="/stylesheets/index.css")

block content
  .background    
  #darken
  .twitter-div#twitter
    a(data-height="100%" class="twitter-timeline" href="https://twitter.com/MarysiaPeony?ref_src=twsrc%5Etfw")
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  .content.text-center
    .main-div
      .title-div
        h1.title Peony Literary Agency
      #scroll
        a#scrolldowna(href='#')
          span
    .pages#About
      #about-us-div
        h1.page-title#about-us About Us
        p.about-us-text Peony Literary Agency is one of the most prolific multi-lingual literary agencies in Asia. A small but ambitious and client-centered business, we represent writers worldwide with particular focus on Asia, and especially China.
        br
        p.about-us-text We represent writers of Fiction, Non Fiction and Graphic Novels but not Childrens' Books. We sell UK and US rights and work with established sub agents to sell into some foreign markets.
      .scrollup-div
        .scrollup.mt-5
          a(href='#')
            span
    .pages#Work
      #work-div
        h1.page-title.mt-5.mb-5#work-in Work
        p.lead.text-left - Author, illustrator and photographer representation
          p.lead.text-left.work-text - Our clients write about the history of their continent, ancient and recent, and of their own personal experience of its emergence as an industrial and economic-power house.
          p.lead.text-left.work-text - We represent works of fiction and non fiction, graphic novels and photography books at all stages of their creative work, please listen to our authors Duncan Jepson and Chan Koonchung talk about how they work with a literary agent
          iframe.mr-4(width="250" height="170" src="https://www.youtube.com/embed/nO014FnZCwg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          iframe(width="250" height="170" src="https://www.youtube.com/embed/nQ20E4kD8so" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          p.lead.text-left.work-text.mt-3 - We represent our clients in all aspects of their creative work:
          p.lead.text-left.work-text.work-examples - at all stages of the publishing process from editing to sourcing a publishing contract
          p.lead.text-left.work-text.work-examples - sourcing and negotiation of columns and journalistic pieces 
          p.lead.text-left.work-text.work-examples - negotiation of speaker fees 
          p.lead.text-left.work-text.work-examples - advice and help with on-line presence including social networks, author blogs and websites.
        br 
        p.lead.text-left - Rights representation of publishers and agents in Asia.
          - var link = "<a href='http://www.peonyrights.com/plus/list.php?tid=74'>Rights </a>"
          p.lead.text-left.work-text - For information on recent sales please visit our !{link}
        br
        p.lead.text-left - Book publishing consultancy work
          p.lead.text-left.work-text - Examples of recent work done to date include:
            p.lead.text-left.work-text.work-examples - Negotiation of publishing contracts and book publishing advice for individuals
            p.lead.text-left.work-text.work-examples - Reading and assessment for the Korean Literature Institute
            p.lead.text-left.work-text.work-examples - Organisation of publishing workshops for the National Arts Council, Singapore
      .scrollup-div
        .scrollup.extra-top-bottom
          a(href='#')
            span
    .pages#Contact
      #contact-div
        h1.page-title#contact-us Contact Us
        p.lead.text-left.float-left.font-weight-bold EMAIL:
          a(href='mailto:marysia@peonyliteraryagency.com')
            p.lead marysia@peonyliteraryagency.com
        p.lead.text-left.float-left.font-weight-bold EMAIL:
          a(href='mailto:tina@peonyliteraryagency.com')
            p.lead tina@peonyliteraryagency.com
        p.lead.text-left.float-left.font-weight-bold EMAIL:
          a(href='mailto:cecily@peonyliteraryagency.com')
            p.lead cecily@peonyliteraryagency.com
      .scrollup-div
        .scrollup
          a(href='#')
            span
    .pages#Authors
      #authors-div
        h1.page-title.mt-5#authors-an Authors
        #authors-subdiv
          each author in authors
            a(href='/authors/#{author.number}')
              .author-box(
                style='background-image: url("#{author.image}");'
                onmouseover='changeImage(this)'
                onmouseout='changeImageBack(this)')
                  .author-name-box
                    p.lead.author-name #{author.name}
      .scrollup-div
        .scrollup.extra-top-bottom
          a(href='#navbar')
            span
      p#page-data(style='display: none;')= page
      p#scrollbool(style='display: none;')= scroll

      ///// META TAGS
      // look for new images bg or make more red
      //fix going back with links/anchors
      //shirley image too large compress it
      //fix anchor allignment when scrolling down for some links
      //add more contrast to b&w background
  script.
    window.noZensmooth = true;
  script(src="/javascripts/zenscroll.js")
  script(src='/javascripts/index.js')
