extends layout.jade

block head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel='icon' href='/images/peony.ico' type='image/x-icon')
  link(rel='shortcut icon' href='/images/peony.ico' type='image/x-icon')
  meta(charset='UTF-8')
  meta(name='description' content='Asian based literary agency selling authors in translation and in english 帮作家卖翻译以及英文版权的亚洲文学代理公司')
  meta(name='keywords' content='Peony Literary Agency, Peony, Literary, Agency, Chinese authors literature translation, Chinese, authors, literature, translation, Su Tong, Mo Yan, Chan Koonchung, Yan Geling, Wang Ruoxing, Shao Wei, Annie Baobei, Han Han, Jade Chen, Julie O\'Yang, 牡丹花版权代理公司, 牡丹花, 版权, 代理, 中国作家文学翻译, 中国, 作家, 文学, 翻译, 苏童, 莫言, 陈冠中, 严歌苓, 王若星, 邵薇, 安妮宝贝, 韩寒, 陈玉慧, 无根')
  meta(name='author' content='PoisenMJ')
  //get this from google
  meta(name='google-site-verification' content='')
  title PLA | #{page}

block content
  .background 
  #darken
  .twitter-div#twitter
    a(data-height="100%" data-width="100%" class="twitter-timeline" href="https://twitter.com/MarysiaPeony?ref_src=twsrc%5Etfw")
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  .socials
    div
      img(src='/images/social/instagram.png' onclick='window.location.href="https://www.instagram.com/peony.literaryagency/"')
    div 
      img(src='/images/social/facebook.png' onclick='window.location.href="https://www.facebook.com/peonyliteraryagency"')
    div
      img(src='/images/social/twitter.png' onclick='window.location.href="https://twitter.com/MarysiaPeony"')
  .content.text-center
    .main-div
      .title-div
        img#siteLogo(src='/images/peony_logo_sm.png')
        h1#siteTitle.red Peony Literary Agency
      #scroll
        a#scrolldowna(onclick='scrolldown()')
          span
    .pages#About
      #about-us-div
        h1.page-title#about-us.mt-5 About Us
        .about-div
          p.about-us-text.lead Founded in 2009 by Marysia Juszczakiewicz, Peony Literary Agency is one of the most prolific multi-lingual literary agencies in Asia. As a small but ambitious and client-centered business, we represent writers of fiction and nonfiction worldwide with particular focus on Asia, especially on China. Our clients write about the recent and ancient history of the continent, and of their own personal experiences of its emergence as an industrial and economic powerhouse, and imagine new narratives highlighting topical issues.
          
          hr
        - var agent = '<span class="lead black ml-3"> ( <span class="font-weight-bold" style="font-size: 1rem;">AGENT</span> ) </span>'
        //- - var co_agent = '<span class="lead black ml-3"> ( <span class="font-weight-bold" style="font-size: 1rem;"> CO-AGENT</span> ) </span>'
        
        #about-accordion.accordion.mt-5
          .card
            #author-rep.card-header
              h2.mb-0
                button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#author-rep-div', aria-expanded='true', aria-controls='author-rep-div') AUTHOR REPRESENTATION
                  i.fa.fa-mouse-pointer.ml-2
            #author-rep-div.collapse.show(aria-labelledby='author-rep', data-parent='#about-accordion')
              .card-body
                .team-member
                  .team-member-details
                    p.lead.team-member-details-name.text-left.red.font-weight-bold Marysia Juszczakiewicz
                    p.lead.text-left.about-us-text With extensive experience of publishing and agenting in both the UK and Asia and a degree in Chinese, Marysia Juszczakiewicz set up one of the first author representation agencies in Asia in 2007 called  Creative Work Limited . In 2010 she founded her own agency,  Peony Literary Agency . She was the first agent to represent the Nobel Prize winner  Mo Yan  and sold English language rights for his novel  Sandalwood Death and is one of few agents in the Asian field specializing in sales of copyright both  in and out of Asia  with a business specializing in author representation and subagenting.
                  .team-member-image
                    img.agent-image.red-border(src='/images/team/marysia2.png')
                br
                .team-member
                  .team-member-details
                    p.lead.team-member-details-name.text-left.red.font-weight-bold Jo Lusby
                    p.lead.text-left.about-us-text Pixie B Ltd is a consultancy and agency that specialises in publishing, film, and the creative sector in China. The company was co-founded in 2017 by Jo Lusby, former CEO of Penguin Random House North Asia, and Michelle Lombard, former CEO of Pearson Education Southeast Asia. Pixie B represents companies, filmmakers, authors, and other creatives seeking to find partners and deals, as well as secures finance and funding for start-up companies and offers strategic and commercial advice to companies seeking improved quality and/or quantity of business in China. Pixie B is proud to co-agent with Peony Literary Agency.  
                  .team-member-image
                    img.agent-image.red-border(src='/images/team/jo_lusby_square.jpg')
                br
                .team-member
                  .team-member-details
                    p.lead.team-member-details-name.text-left.red.font-weight-bold Anya Goncharova
                    p.lead.text-left.about-us-text Anya Goncharova is an agent simultaneously working for Peony Literary Agency and Tender Leaves Translations. Born and raised in Beijing and now based in Shanghai, she works with international and local authors to connect them with publishers and readers all over the world. Prior to her agenting role, she was the editor heading the English-language list at Penguin Random House North Asia where she published a variety of fiction and non-fiction from the region. Anya works in English, Russian and Chinese.
                  .team-member-image
                    img.agent-image.red-border(src='/images/team/anya_square.jpg')          
          .card
            #foreign-rights.card-header
              h2.mb-0
                button.btn.btn-secondary.collapsed(type='button', data-toggle='collapse', data-target='#foreign-rights-div', aria-expanded='false', aria-controls='foreign-rights-div') FOREIGN RIGHTS
                  i.fa.fa-mouse-pointer.ml-2
            #foreign-rights-div.collapse(aria-labelledby='foreign-rights', data-parent='#about-accordion')
              .card-body
                p.lead.about-us-text We represent publishers, agents and writers for sales of Chinese and Taiwanese rights. Our clients include, amongst others, John Murray, Headline, Nicholas Brealey, British Library via Edwards Fuglewicz Literary Agency and Macmilan in the UK, as well as The Italian Agency, Planeta, Mauri Spagnol in Europe, and University of Chicago, OR Books and Other Press in the US. We sell rights for adult fiction and nonfiction as well as children’s books.
                br
                .team-member
                  .team-member-details
                    p.lead.team-member-details-name.text-left.red.font-weight-bold Tina Chou
                    p.lead.text-left.about-us-text Tina is Peony&#39;s representative in Shanghai. She previously worked as an editor at Eurasian Publishing Group in Taiwan, before moving to Beijing, then Shanghai to become a literary talent scout and agent. She has brought in numerous titles into China and Taiwan, including a high figure ten-book deal sale to a Chinese Publishing house. She has been trained and is certified for practice by the Copyright Protection Center of China as a government-recognized literary agent.
                  .team-member-image
                    img.agent-image.red-border(src='/images/team/tina_square.jpg')
                br
                .team-member
                  .team-member-details
                    p.lead.text-left.team-member-details-name.red.font-weight-bold Cecily Lien
                    p.lead.text-left.about-us-text Cecily is Peony&#39;s representative in Taiwan. She has previously freelanced for publishers in Taiwan and now works with Peony Literary Agency as a literary agent selling rights in China and Taiwan. She frequently negotiates five figure deals for clients and multi book contracts.
                  .team-member-image
                    img.agent-image.red-border(src='/images/team/cecily_square.jpg')
          .card
            #translation-work.card-header
              h2.mb-0
                button.btn.btn-secondary.collapsed(type='button', data-toggle='collapse', data-target='#translation-work-div', aria-expanded='false', aria-controls='translation-work-div') TRANSLATION WORK
                  i.fa.fa-mouse-pointer.ml-2
            #translation-work-div.collapse(aria-labelledby='translation-work', data-parent='#about-accordion')
              - var translation_link = "<a href='http://tenderleavestranslation.com/en/' class='red'>  Tender Leaves Translation </a>"
              - var shelly = "<a href='https://shellybryant.com' class='red'>Shelly Bryant </a>"
              - var legends_book = "<i>Legends of the Condor Heroes</i>"
              .card-body
                p.lead.about-us-text Peony Literary Agency represents !{translation_link}, a collective of translators and editors led by poet and translator Shelly Bryant, focuses on literary translation between Chinese and English, writing, editing, and training of young translators. With offices in Shanghai and Singapore, the core services offered by Tender Leaves Translation include preparation of sample and synopsis packages of book-length works for submission to publishers, literary and academic translation from Chinese to English and English to Chinese, writing and editing services, specialised research on regional topics, and training of literary translators. The Tender Leaves team has translated, edited, and researched work for clients all around the world, including China, Singapore, the UK, the US, Australia, Thailand, Indonesia, Malaysia, South Africa, and Germany, and has trained numerous emerging literary translators.
                img.mb-5.agent-image(src='/images/team/tender_leaves.png')
                br
                .team-member
                  .team-member-details
                    p.lead.about-us-text !{shelly} divides her year between Shanghai and Singapore, working as a writer, poet, researcher, and translator. She has translated Sheng Keyi’s novels Northern Girls and Fields of White. Shelly is currently working on the translation of martial arts writer Jin Yong's Volume IV !{legends_book} with Quercus.
                  .team-member-image
                    img.agent-image.red-border(src='/images/team/shelly_square.jpg')
      .scrollup-div
        .scrollup.extra-top-bottom
          a.scrollup-btn(onclick='scrollup()')
            span
    .pages#Submit
      #submit-div
        h1.page-title.mt-5.mb-5#submit-title Submit
        h3.mb-3.lead.font-weight-bold.mt-3 AUTHOR REPRESENTATION
        #work-accordion-1.accordion.mt-2
          .card
            #work-novel.card-header
              h2.mb-0
                button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#work-novel-div', aria-expanded='true', aria-controls='work-novel-div') SUBMIT NOVEL
                  i.fa.fa-mouse-pointer.ml-2
            #work-novel-div.collapse.show(aria-labelledby='work-novel', data-parent='#work-accordion-1')
              .card-body
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.red How to submit your novel
                  ul
                    li.lead.text-left.smaller Please send in the first three chapters of your novel
                    li.lead.text-left.smaller Also send in a clear and detailed synopsis of the complete story
                    li.lead.text-left.smaller And send in a little about yourself as the writer
          .card
            #work-non-fiction.card-header
              h2.mb-0
                button.btn.btn-secondary.collapsed(type='button', data-toggle='collapse', data-target='#work-non-fiction-div', aria-expanded='false', aria-controls='work-non-fiction-div') SUBMIT NON-FICTION
                  i.fa.fa-mouse-pointer.ml-2
            #work-non-fiction-div.collapse(aria-labelledby='work-non-fiction', data-parent='#work-accordion-1')
              .card-body
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.red How to submit non fiction
                  li.lead We would aim to place your non fiction book with a publisher by sending out a proposal. A proposal should include the following:
                  br
                  ul
                    li.lead.text-left.smaller What the book is about and why it needs to be published, what makes it compelling and unique
                    li.lead.text-left.smaller Who you are and why you are the ideal person to write this book, here you can include special marketing and promotional opportunities
                    li.lead.text-left.smaller A summary of the market and audience for this book including similar already published books
                    li.lead.text-left.smaller A chapter of sample text to show your writing tone and style
                    li.lead.text-left.smaller An outline of chapters
        hr.mt-5
        p.lead.font-weight-bold.mt-5 REPRESENTATION FOR CHINESE/TAIWANESE RIGHTS
        p.lead.text-left We represent adult Fiction and Non Fiction, and Childrens Books. Pls email us with the following details:
        #work-accordion-2.accordion.mt-2
          .card
            #work-submit.card-header
              h2.mb-0
                button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#work-submit-div', aria-expanded='true', aria-controls='work-submit-div') SUBMIT
                  i.fa.fa-mouse-pointer.ml-2
            #work-submit-div.collapse.show(aria-labelledby='work-submit', data-parent='#work-accordion-2')
              .card-body
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.text-left For Publishers/Agents
                  ul
                    li.lead.text-left.smaller Rights Catalogue
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.text-left For Writers
                  ul  
                    li.lead.text-left.smaller A synopsis of the title/titles you would like us to represent
                    li.lead.text-left.smaller Details of you the writer, and previous published works

      .scrollup-div
        .scrollup.extra-top-bottom
          a.scrollup-btn(onclick='scrollup()')
            span
    .pages#Contact
      #contact-div
        h1.page-title#contact-us.extra-top Contact Us
        .email-div
          h3.lead.font-weight-bold AUTHOR REPRESENTATION
          .email-parent
            p.lead For those Authors shared between Peony and Pixie B Ltd
            a(href='mailto:marysia@peonyliteraryagency.com') 
              p.lead.email marysia@peonyliteraryagency.com
            a(href='mailto:jo@pixieb.com')
              p.lead.email jo@pixieb.com
            a(href='mailto:anya@peonyliteraryagency.com')
              p.lead.email anya@peonyliteraryagency.com
        .email-div
          h3.lead.font-weight-bold REPRESENTATION OF CHINESE/TAIWANESE RIGHTS
          .email-parent
            a(href='mailto:tina@peonyliteraryagency.com')
              p.lead.email tina@peonyliteraryagency.com
            a(href='mailto:cecily@peonyliteraryagency.com')
              p.lead.email cecily@peonyliteraryagency.com
        br
        .email-div(style='border-bottom: none;')
          h3.lead.font-weight-bold TRANSLATION WORK
          .email-parent
            p.lead C/O Tender Leaves Translation and Shelly Bryant
            a(href='mailto:Marysia@peonyliteraryagency.com')
              p.lead.email marysia@peonyliteraryagency.com
      .scrollup-div.extra-top-bottom
        .scrollup
          a.scrollup-btn(onclick='scrollup()')
            span
    .pages#Authors
      #authors-div
        h1.page-title.mt-5#authors-an Authors
        #authors-subdiv
          each author in authors
            a(href='/authors/#{author.number}')
              .author-box(
                style='background-image: url("#{author.image}");'
                onmouseover='changeImage(this)'
                onmouseout='changeImageBack(this)')
                  .author-name-box
                    p.lead.author-name #{author.name}
      .scrollup-div
        .scrollup.extra-top-bottom
          a.scrollup-btn(onclick='scrollup()')
            span
        p#page-data(style='display: none;')= page
        p#scrollbool(style='display: none;')= scroll

      ///// META TAGS
      // look for new images bg or make more red
      //manga / cartoon peony
      //or flower gif
      //auto scroll not working when going back from authors
      //make background opacity with rgba instead of opacity for background
  script.
    window.noZensmooth = true;
  script(src="/javascripts/zenscroll.js")
  script(src='/javascripts/jquery.smoothState.js' type='application/javascript')
  script(src='/javascripts/index.js')
