extends layout.jade

block head
  link(rel="stylesheet" href="/stylesheets/index.css")

block content
  .background    
  #darken
  .twitter-div#twitter
    a(data-height="100%" class="twitter-timeline" href="https://twitter.com/MarysiaPeony?ref_src=twsrc%5Etfw")
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
  .content.text-center
    .main-div
      .title-div
        h1.title Peony Literary Agency
      #scroll
        a#scrolldowna(onclick='scrolldown()')
          span
    .pages#About
      #about-us-div
        h1.page-title#about-us.mt-5 About Us
        .about-div
          //- var bold = "<b>Founded in 2009 by Marysia Juszczakiewicz </b>"
          p.about-us-text.lead Founded in 2009 by Marysia Juszczakiewicz, Peony Literary Agency is one of the most prolific multi-lingual literary agencies in Asia. A small but ambitious and client-centered business, we represent writers of Fiction and Non Fiction worldwide with particular focus on Asia, and especially China. Our clients write about the history of their continent, ancient and recent, and of their own personal experiences of its emergence as an industrial and economic powerhouse.
          
          hr
        - var agent = '<span class="lead black ml-3"> [ <span class="font-weight-bold">AGENT</span> ] </span>'
        - var co_agent = '<span class="lead black ml-3"> [ <span class="font-weight-bold"> CO-AGENT</span> ] </span>'
        
        #about-accordion.accordion.mt-5
          .card
            #author-rep.card-header
              h2.mb-0
                button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#author-rep-div', aria-expanded='true', aria-controls='author-rep-div') AUTHOR REPRESENTATION
            #author-rep-div.collapse.show(aria-labelledby='author-rep', data-parent='#about-accordion')
              .card-body
                .team-member
                  .team-member-details
                    p.lead.text-left.red.font-weight-bold Marysia Juszczakiewicz !{agent}
                    p.lead.text-left.about-us-text With extensive experience of publishing and agenting in both the UK and Asia and a degree in Chinese, Marysia Juszczakiewicz set up one of the first author representation agencies in Asia in 2007 called  Creative Work Limited . In 2010 she founded her own agency,  Peony Literary Agency . She was the first agents to represent the Nobel Prize winner  Mo Yan  and sold English language rights for his novel  Sandalwood Death and is one of few agents in the Asian field specializing in sales of copyright both  in and out of Asia  with a business specializing in author representation and subagenting.
                  .team-member-image
                    img.agent-image(src='/images/team/marysia.jpg')
                br
                .team-member
                  .team-member-details
                    p.lead.text-left.red.font-weight-bold Jo Lusby !{co_agent}
                    p.lead.text-left.about-us-text Pixie B Ltd is a consultancy and agency that specialises in publishing, film, and the creative sector in China. The company was co-founded in 2017 by Jo Lusby, former CEO of Penguin Random House North Asia, and Michelle Lombard, former CEO of Pearson Education Southeast Asia. Pixie B represents companies, filmmakers, authors, and other creatives seeking to find partners and deals, as well as secures finance and funding for start-up companies and offers strategic and commercial advice to companies seeking improved quality and/or quantity of business in China. Pixie B is proud to co-agent with Peony Literary Agency.
                  .team-member-image
                    img.agent-image(src='/images/team/jo_lusby.jpg')
          .card
            #foreign-rights.card-header
              button.btn.btn-secondary.collapsed(type='button', data-toggle='collapse', data-target='#foreign-rights-div', aria-expanded='false', aria-controls='foreign-rights-div') FOREIGN RIGHTS
            #foreign-rights-div.collapse(aria-labelledby='foreign-rights', data-parent='#about-accordion')
              .card-body
                p.lead.about-us-text We represent publishers, agent and writers in China and Taiwan for publishers. Our clients include amongst others John Murray, Headline, Nicholas Brealey, British Library via Edwards Fuglewicz Literary Agency and Macmilan in the UK to The Italian Agency, Planeta, Mauri Spagnol in Europe to University of Chicago, OR Books and Other Press in the US. We sell rights for adult Fiction and Non Fiction as well as Children’s books.
                br
                .team-member
                  .team-member-details
                    p.lead.text-left.red.font-weight-bold Tina Chou !{agent}
                    p.lead.text-left.about-us-text Tina is Peony&#39;s representative in Shanghai. She previously worked as an editor at Eurasian Publishing Group in Taiwan, before moving to Beijing, then Shanghai to become a literary talent scout and agent. She has brought in numerous titles into China and Taiwan, including a high figure ten-book deal sale to a Chinese Publishing house. She has been trained and is certified for practice by the Copyright Protection Center of China as a government-recognized literary agent.
                  .team-member-image
                    img.agent-image(src='/images/team/tina.jpg')
                br
                .team-member
                  .team-member-details
                    p.lead.text-left.red.font-weight-bold Cecily Lien !{agent}
                    p.lead.text-left.about-us-text Cecily is Peony&#39;s representative in Taiwan. She has previously freelanced for publishers in Taiwan and now works with Peony Literary Agency as a literary agent selling rights in China and Taiwan. She frequently negotiates five figure deals for clients and multi book contracts.
                  .team-member-image
                    img.agent-image(src='/images/team/cecily.jpg')
          .card
            #translation-work.card-header
              h2.mb-0
                button.btn.btn-secondary.collapsed(type='button', data-toggle='collapse', data-target='#translation-work-div', aria-expanded='false', aria-controls='translation-work-div') TRANSLATION WORK
            #translation-work-div.collapse(aria-labelledby='translation-work', data-parent='#about-accordion')
              - var translation_link = "<a href='http://tenderleavestranslation.com/en/' class='red'>  Tender Leaves Translation </a>"
              - var shelly = "<a href='https://shellybryant.com' class='red'>Shelly Bryant </a>"
              .card-body
                p.lead.about-us-text Peony Literary Agency represents !{translation_link}. Tender Leaves Translation, a collective of translators and editors led by poet and translator Shelly Bryant, focuses on literary translation between Chinese and English, writing, editing, and training of young translators. With offices in Shanghai and Singapore, the core services offered by Tender Leaves Translation include preparation of sample and synopsis packages of book-length works for submission to publishers, literary and academic translation from Chinese to English and English to Chinese, writing and editing services, specialised research on regional topics, and training of literary translators. The Tender Leaves team has translated, edited, and researched work for clients all around the world, including China, Singapore, the UK, the US, Australia, Thailand, Indonesia, Malaysia, South Africa, and Germany, and has trained numerous emerging literary translators.
                br
                p.lead.about-us-text !{shelly} divides her year between Shanghai and Singapore, working as a writer, poet, researcher, and translator. She has translated Sheng Keyi’s novels Northern Girls and Fields of White for Penguin Books, and Death Fugue for Giramondo Press, Chew Kok Chang’s short story collection Other Cities, Other Lives and You Jin’s A Life in Words, Mum is Where the Heart is, and In Time, Out of Place for Epigram Books, Fan Wen’s Land of Mercy for Rinchen Books, Li Xinfeng’s China in Africa for HSRC, and Li Na’s memoir, My Life, for Penguin Books. Her translations of Khoo Seok Wan’s poetry were featured in the exhibition A Life in Poems by the National Library Board in Singapore. Shelly’s translation of Sheng Keyi’s Northern Girls was long-listed for the Man Asian Literary Prize in 2012, and her translation of You Jin’s In Time, Out of Place was shortlisted for the Singapore Literature Prize in 2016. She was awarded a Distinguished Alumni award from Oklahoma Christian University in 2017.
      .scrollup-div
        .scrollup.extra-top-bottom
          a.scrollup-btn(onclick='scrollup()')
            span
    .pages#Work
      #work-div
        h1.page-title.mt-5.mb-5#work-in Work
        p.lead.font-weight-bold.mt-3 AUTHOR REPRESENTATION
        #work-accordion-1.accordion.mt-2
          .card
            #work-novel.card-header
              h2.mb-0
                button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#work-novel-div', aria-expanded='true', aria-controls='work-novel-div') SUBMIT NOVEL
            #work-novel-div.collapse.show(aria-labelledby='work-novel', data-parent='#work-accordion-1')
              .card-body
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.red How to submit your novel
                  ul
                    li.lead.text-left.smaller Please send in the first three chapters of your novel
                    li.lead.text-left.smaller Also send in a clear and detailed synopsis of the complete story
                    li.lead.text-left.smaller And send in a little about yourself as the writer
          .card
            #work-non-fiction.card-header
              button.btn.btn-secondary.collapsed(type='button', data-toggle='collapse', data-target='#work-non-fiction-div', aria-expanded='false', aria-controls='work-non-fiction-div') SUBMIT NON-FICTION
            #work-non-fiction-div.collapse(aria-labelledby='work-non-fiction', data-parent='#work-accordion-1')
              .card-body
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.red How to submit non fiction
                  li.lead We would aim to place your non fiction book with a publisher by sending out a proposal. A proposal should include the following:
                  br
                  ul
                    li.lead.text-left.smaller What the book is about and why it needs to be published, what makes it compelling and unique
                    li.lead.text-left.smaller Who you are and why you are the ideal person to write this book, here you can include special marketing and promotional opportunities
                    li.lead.text-left.smaller A summary of the market and audience for this book including similar already published books
                    li.lead.text-left.smaller A chapter of sample text to show your writing tone and style
                    li.lead.text-left.smaller An outline of chapters
        p.lead.font-weight-bold.mt-5 REPRESENTATION FOR CHINESE/TAIWANESE RIGHTS
        p.lead.text-left We represent adult Fiction and Non Fiction, and Childrens Books. Pls email us with the following details:
        #work-accordion-2.accordion.mt-2
          .card
            #work-submit.card-header
              h2.mb-0
                button.btn.btn-secondary(type='button', data-toggle='collapse', data-target='#work-submit-div', aria-expanded='true', aria-controls='work-submit-div') SUBMIT
            #work-submit-div.collapse.show(aria-labelledby='work-submit', data-parent='#work-accordion-2')
              .card-body
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.text-left For Publishers/Agents
                  ul
                    li.lead.text-left.smaller Rights Catalogue
                ul.list-unstyled
                  br
                  li.lead.font-weight-bold.text-left For Writers
                  ul  
                    li.lead.text-left.smaller A synopsis of the title/titles you would like us to represent
                    li.lead.text-left.smaller Details of you the writer, and previous published works

      .scrollup-div
        .scrollup.extra-top-bottom
          a.scrollup-btn(onclick='scrollup()')
            span
    .pages#Contact
      #contact-div
        h1.page-title#contact-us Contact Us
        .email-div
          p.lead.font-weight-bold AUTHOR REPRESENTATION
            .email-parent
              a(href='mailto:marysia@peonyliteraryagency.com') 
                p.lead.email marysia@peonyliteraryagency.com
              a(href='mailto:jo@pixieb.com')
                p.lead.email jo@pixieb.com
        .email-div
          p.lead.font-weight-bold REPRESENTATION OF CHINESE/TAIWANESE RIGHTS
            .email-parent
              a(href='mailto:tina@peonyliteraryagency.com')
                p.lead.email tina@peonyliteraryagency.com
              a(href='mailto:cecily@peonyliteraryagency.com')
                p.lead.email cecily@peonyliteraryagency.com
        br
        p.lead.font-weight-bold TRANSLATION WORK
          .email-parent
            a(href='mailto:Marysia@peonyliteraryagency.com')
              p.lead.email marysia@peonyliteraryagency.com
      .scrollup-div.mt-5
        .scrollup
          a.scrollup-btn(onclick='scrollup()')
            span
    .pages#Authors
      #authors-div
        h1.page-title.mt-5#authors-an Authors
        #authors-subdiv
          each author in authors
            a(href='/authors/#{author.number}')
              .author-box(
                style='background-image: url("#{author.image}");'
                onmouseover='changeImage(this)'
                onmouseout='changeImageBack(this)')
                  .author-name-box
                    p.lead.author-name #{author.name}
      .scrollup-div
        .scrollup.extra-top-bottom
          a.scrollup-btn(onclick='scrollup()')
            span
      p#page-data(style='display: none;')= page
      p#scrollbool(style='display: none;')= scroll

      ///// META TAGS
      // look for new images bg or make more red
      //fix going back with links/anchors
      //shirley image too large compress it
      //fix anchor allignment when scrolling down for some links
      //add more contrast to b&w background
      //manga / cartoon peony
      //or flower gif
      //make spotify playlist profiles from the new edgy photo website i found
      //auto scroll not working when going back from authors
  script.
    window.noZensmooth = true;
  script(src="/javascripts/zenscroll.js")
  script(src='/javascripts/index.js')
